<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/SQA/appium_java/appium">
        <classes>
            <class name="tests.T001_TestDial">
                <methods>
                    <include name="makeCall"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>